<app-apple-drop></app-apple-drop>
<div class="flex flex-col w-screen h-screen justify-center items-center mx-auto">
  <div class="w-full text-center">
    <img src="assets/images/logo.png" class="mx-auto w-52 h-52">
    <span class="text-8xl text-red-500">사과게임</span>
  </div>

  <span class="text-5xl flex items-center justify-center pt-24">
    저는 <span class="px-4"> {{username}}</span> 입니다!
  </span>
  <input [(ngModel)]="username" type="text"  class="w-32 mx-3 my-8 z-50 border-2 border-red-400 rounded-lg focus:border-rose-600 focus:ring-0">
  <button type="button" [disabled]="userNameLength() < 2" (click)="linkToGmaePage()" class="bg-red-400 text-white mx-auto w-32 py-4 shadow-md rounded-md text-md disabled:opacity-40 z-50">
    시작!
  </button>
</div>
